<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .decoration {
        text-decoration:line-through;
      }
    </style>
</head>
<body>
  <div id="app">
    <h1>Todo List</h1>
    <input type="text" v-model="word">
    <button @click="plusTodoList">+</button>
    <ul>
      <li v-for="(todo, idx) in todoList" :key="todo.idx" :class="{ decoration: todo.isChecked }">
        <input type="checkbox" v-model="todo.isChecked">
        {{ todo.text }}
      </li>
    </ul>
    <button @click="deleteComplete">완료 목록 삭제</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        word: '',
        todoList: []
      },
      methods: {
        plusTodoList() {
          if (this.word.length === 0) {
            alert('내용을 입력해 주세요!')
          } else {
            this.todoList.push({text: this.word, isChecked: false})
          }
          this.word = ''
        },
        deleteComplete() {
          this.todoList = this.todoList.filter((todo) => todo.isChecked === false)
        }
      },
    })
  </script>
</body>
</html>