{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <h2>{{ article.pk }}번째 글입니다.</h2>
    <hr>
    <p><b>작성자 : {{ article.user }}</b></p>
    <p>제목 : {{ article.title }}</p>
    <p>내용 : {{ article.content }}</p>
    <p>작성 시각 : {{ article.created_at }}</p>
    <p>수정 시각 : {{ article.updated_at }}</p>
    {% if request.user == article.user %}
    {% comment %} 게시글 작성자와 요청한 유저가 같다면 UPDATE, DELETE 보여주기 {% endcomment %}
        <a href="{% url 'articles:update' article.pk %}">UPDATE</a>
        <form action="{% url 'articles:delete' article.pk %}" method = "POST">
            {% csrf_token %}
            <input type="submit" value="DELETE">
        </form>
    {% endif %}
    <hr>
    <a href="{% url 'articles:index' %}">BACK</a>
    <hr>
    <h4>COMMENT</h4>
    {% if comments %}
        <p>{{ comments|length }}개의 댓글이 있습니다.</p>
    {% endif %}
    <ul>
        {% for  in  %}{% endfor %}
    </ul>
    
    {% endif %}

{% endblock content %}