{% extends 'base.html' %}

{% block content %}
    <h1>INDEX</h1>
    {% if request.user.is_authenticated %}
    {% comment %} 로그인 된 상태일때만 CREATE 보여주기 {% endcomment %}
        <a href="{% url 'articles:create' %}">CREATE</a>
        {% comment %} CREATE을 누르면 articles app의 create(url name)으로 이동 {% endcomment %}
    {% endif %}
    <hr>
    {% for article in articles %}
        <p><b>작성자 : {{ article.user }}</b></p>
        <p>글번호 : {{ article.pk }}</p>
        <p>제목 : {{ article.title }}</p>
        <p>내용 : {{ article.content }}</p>
        <a href="{% url 'articles:detail' article.pk %}">DETAIL</a>
        {% comment %} DETAIL을 누르면 articles app의 detail(url name)으로 이동 {% endcomment %}
        <hr>
    {% endfor %}
{% endblock content %}

